<p id="notice"><%= notice %></p>

<h1>Players</h1>
<%= search_form_for(@q, url: players_search_path, html: { method: :get, class: 'form-inline', role: 'form' }) do |f| %>
  <%= render 'search_form', f: f %>
<% end %>

<div class="container">
<div class="row">
<% @players.each do |player| %>
  <div class="col-sm-4 row">
    <div class="col-sm-3">
      <div>名前</div>
      <div>背番号</div>
      <div>身長</div>
      <div>体重</div>
      <div>ポジション</div>
    </div>
    <div class="col-sm-3">  
      <div><%= player.name      %></div>
      <div><%= player.number    %></div>
      <div><%= player.tall      %></div>
      <div><%= player.weight    %></div>
      <div><%= player.position  %></div>
    </div>
    <div class="col-sm-6">
      <% player.pictures.each do|f| %>
          <div><%= image_tag(f.picture_url, class: :"rounded") %></div>    
      <% end %>
    </div>
  </div>
<% end %>
</div>

<!--<%= button_to 'New Player', {controller: 'players', action:'new'},{method: :get, class: 'btn btn-primary'}%>-->
<%= link_to 'New Player', new_player_path, class: 'btn btn-primary' %>
<%= link_to fa_icon("home 2x", color: :"red"),'/' %>
</div>
